@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  background-color: #e7ebff;
  box-sizing: border-box;
  overflow-x: hidden;
}

.custom-bg-black {
  background-color: #3f56cd;
  position: fixed;
  width: 200px;
  top: 0px;
  padding-top: 100px;
  bottom: 0;
}
.navbar {
  height: 60px;
  padding: 0 30px;
}
.custom-bg-black nav div {
  background-color: #3f56cd;
  width: 200px;
  color: white;
  border-radius: 0px !important;
}

.custom-bg-black nav div div ul li a {
  font-size: 16px;
  font-weight: 400;
  padding: 15px;
}

.custom-bg-black nav div div ul li a svg {
  color: white;
}
.custom-bg-black nav div div ul li a span {
  color: white !important;
}
.custom-bg-black nav div div ul li a {
  border-bottom: white;
}
.custom-bg-black nav div div ul li a:hover {
  background-color: #6b80e8 !important;
  color: white;
}

input {
  /* background-color: rgb(250, 247, 255) !important; */
  border: 1px solid #a9aaae !important;
  padding: 7px !important;
  border-radius: 0.5rem;
}
.inputLess {
  /* background-color: rgb(250, 247, 255) !important; */
  border: none !important;
  padding: 7px !important;
  border-radius: 0.5rem;
}

.custom-input {
  background-color: rgb(250, 247, 255) !important;
  border: 0.5px solid #3f56cd !important;
  padding: 7px !important;
  outline: none !important;
}

.rdt_TableHead .rdt_TableHeadRow {
  /* background-color: #b2bdec !important; */
  /* border-radius: 5px !important; */
  margin-top: 10px;
  margin-bottom: 1px;
  border: 0.5px solid #3f56cd !important;
}

.rdt_TableRow {
  border: 0px !important;
  background-color: #ebeefc !important;
  margin: 1px 0px;
  border: 0.8px solid #6676c0 !important;
  border-radius: 5px !important;
  cursor: pointer;
}
.rdt_TableRow:last-child {
  margin-bottom: 10px;
}

.rdt_TableRow:hover {
  background-color: #b2bdec !important;
}

select {
  border: 1px solid #a9aaae !important;
  padding: 7px !important;
  border-radius: 0.5rem;
}

label {
  color: grey;
  font-size: 12px;
}

footer {
  padding: 0px !important;
  border-radius: 0px !important;
  background-color: black !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  height: 100%;
}

.dark\:bg-gray-700 {
  background: white !important;
  color: black !important;
}

.dark\:text-white {
  color: black !important;
}

.dark\:text-gray-200 {
  color: black !important;
}
.dark\:border-gray-600 {
  border: 0px;
  color: black;
}

/* @media (prefers-color-scheme: dark) {
  .dark\:focus\:ring-gray-800:focus {
    border: none !important;
    outline: none !important;
    background-color: #ffff !important;
  }

  .focus-ring-4:focus {
    outline: none;
}

  .dark\:hover\:bg-gray-800:hover {
    border: none !important;
    outline: none !important;
    background-color: #ffff !important;
  }
  .dark\:hover\:bg-gray-800 {
    border: none !important;
    outline: none !important;
    background-color: #e8ebff !important;
  }
  .dark\:divide-gray-700 > :not([hidden]) ~ :not([hidden]) {
    --tw-divide-opacity: 1;
    border-color: rgb(55 65 81 / var(--tw-divide-opacity));
  }

  /* Add your custom styles for red background and white text */
/* .dark\:divide-gray-700 > :not([hidden]) ~ :not([hidden]) {
    background-color: #e8ebff !important;
    color: black;
  }
} */

@media (max-width: 768px) {
  .custom-bg-black {
    width: 50px !important;
  }
  .custom-bg-black nav div {
    width: 50px !important;
  }
}

.print-receipt {
  font-family: 'Arial', sans-serif;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

.receipt-table-container {
  margin-top: 20px;
}

.receipt-table {
  width: 100%;
  border-collapse: collapse;
}

.receipt-table th,
.receipt-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.receipt-table th {
  background-color: #f2f2f2;
}

.empty-list {
  text-align: center;
}

.total {
  margin-top: 20px;
  text-align: right;
  font-weight: bold;
}
